<article class="row-fluid">
	<div class="span10"><div class="well"><blockquote onclick="goto(\'/posts/${post_id}\')" style="cursor: pointer;">${content}</div></blockquote></div>
	<div class="span1"><a href="/comments/${id}" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></div>
</article>