<form class="well" action="/users" method="post">
   <% if @user.errors.any? %>
   <div class="alert alert-error">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
    
  <% end %>
  <label>Name</label>
  <input name="name" type="text" class="span3" placeholder="Type something…">
  <span class="help-block">Input your name here</span>

  <label>Password</label>
  <input name="pwd" type="password" class="span3" placeholder="******">
  <span class="help-block">Should contain at least 6 charactors</span>

  <label>Icon</label>
  <input name="img_url" type="text" class="span3" >
  <span class="help-block"></span>
  
  <button type="submit" class="btn">Regist</button>
</form>
