<h1 class="pangolin_h1">User Regist</h1>
<section class="row-fluid">
	<div class="span4" style="width:500px; height:300px; position:absolute; top:50%; left:50%; margin: -150px 0 0 -250px;">
		<%= render 'form' %>
	</div>
</section>

