<p id="notice"><%= notice %></p>
<header class="page-header pangolin_h1">
	<div class="row-fluid">
		<div class="span2">
			<h1>
				Home Page
			</h1>
		</div>
		<div class="span8">
			<div class="span2"><%= image_tag @user.image_url, :style => "height: 150px;" %></div>
			<div class="span10 label label-info" style="background: #98D9F8; margin-top: 50px; width: 60%; text-align: center; font-size: 18px;"><%= @user.name %></div>
		</div>
	</div>
</header>
<section>
	<div class="row-fluid">
		<div class="span2"> </div>
		<div class="span8">
			<div class="row-fluid">
			<div class="span2 tabbable tabs-left">
			  <ul class="nav nav-tabs" id="home_content_category" style="float: right; margin-right: 0px; text-align: right;">
			    <li class="active"><a href="#tab1" data-toggle="tab" category="publish">My Publish</a></li>
			    <li><a href="#tab2" data-toggle="tab" category="comment">My Comments</a></li>
			    <li><a href="#tab2" data-toggle="tab" category="forward">My Forwards</a></li>
			    <li><a href="#tab2" data-toggle="tab" category="favorite">My Favorites</a></li>
			  </ul>
			</div>
			<div id="home_content_list" class="span10"></div>
			</div>
		</div>		
	</div>
</section>