<%= form_tag posts_path, :remote => true do %>
  <div class="row-fluid">
    <div class="span2">
      <%= label_tag :Public %>
    </div>
    <div class="span8">
      <%= text_area_tag :content, "", :rows => 5, :style => "width: 100%;" %>
    </div>
    <div class="span2">
      <%= submit_tag "Public", :class => "btn"%>
    </div>
  </div>
<% end %>
