<article class="row-fluid">
	<div class="span1">${user.name}<img src="${user.image_url}" /></div>
	<div class="span10"><div class="well"><blockquote onclick="goto(\'/posts/${source.id}\')" style="cursor: pointer;">${source.content}</div></blockquote></div>
	<div class="span1"><a href="/forwards/${id}" data-method="delete" rel="nofollow">Destroy</a></div>
</article>