<section class="row-fluid">
  <aside class="span2"> </aside>
  <article class="span8">

	<h1 class="pangolin_h1">New post</h1>

	<%= render 'form' %>

	<nav>
		<%= link_to 'Back', posts_path %>
	</nav>
	
  </article>
</section>
